language = "python3"
run = "python run_strategy.py"

[deploy]
run = ["sh", "-c", "python run_strategy.py"]

[env]
PYTHONPATH = "${PYTHONPATH}:."

[packager]
language = "python3"

[interpreter]
command = ["python3", "-u", "$file"]
