language = "python3"
run = "python run_strategy.py"

[deploy]
run = ["sh", "-c", "python run_strategy.py"]

[env]
PYTHONPATH = "${PYTHONPATH}:."

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[interpreter]
command = ["python3", "-u", "$file"]
args = []
